<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/header :: main-header('Create Post')"></head>
<body>
<nav th:include="fragments/navbar :: mainNavbar"></nav>

<h1>Create a Post</h1>
<form th:action="@{/posts/create}" method="post" th:object="${post}">
    Title:
    <input th:field="*{title}" name="title" id="title"/>
    <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
    <br/>
    body:
    <input th:field="*{body}" name="body" id="body"/>
    <p th:if="${#fields.hasErrors('body')}" th:errors="*{body}"></p>
    <br/>
    <input type="submit"/>
</form>
</body>
</html>