<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Guess A Number</title>
</head>
<body>

<h2>Guess a number between 1 and 6</h2>

<ul th:if="${numbers.size() != 0}">
    <li th:each="num : ${numbers}" >
        <a th:href="${'/roll-dice/' + num}" th:text="${num}"></a>
    </li>
</ul>

<div>
    <p th:if="${dice == guess}" th:text="${dice} ">
        You got it!
    </p>

    <p th:if="${dice != guess}">
        sorry try again.
    </p>
</div>

</body>
</html>